<a href="#" class="popup-trigger"><img src="img/popOver/waa.png" height="20" width="20"> </a>

<div class="popup">
    <a href="#" class="popup_close" ng-click="hide()">Close</a>
    <a href="#" class="popup_open" ng-click="showInfo()">Open</a>

    <p>{{plant.name}}</p>

    <div class="stars">
        <img src="img/popOver/small-star.gif">
        <img src="img/popOver/small-star.gif">
        <img src="img/popOver/small-star.gif">
    </div>

    <div class="iconss">
        <img src="img/popOver/wind.jpg">
    </div>
</div>

<div class="expand">
    <a href="#" class="expand-close " ng-click="hideInfo()">Close</a>

    <p>WINDMILLS!</p>
    <p>and windmills </p>

</div>