<ion-view city-view-script="">
    <ion-content>
						
        <h1>City Viewer</h1>

        <ul id="scene">
	        <li class="layer" data-depth="0.00"><img src="img/City_Parallax/layer01.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.10"><img src="img/City_Parallax/layer02.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.20"><img src="img/City_Parallax/layer03.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.30"><img src="img/City_Parallax/layer04.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.40"><img src="img/City_Parallax/layer05.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.50"><img src="img/City_Parallax/layer06.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.60"><img src="img/City_Parallax/layer07.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.70"><img src="img/City_Parallax/layer08.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.80"><img src="img/City_Parallax/layer09.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.85"><img src="img/City_Parallax/layer10.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.90"><img src="img/City_Parallax/layer11.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="0.95"><img src="img/City_Parallax/layer12.png" class = "WEParallax"></li>
	        <li class="layer" data-depth="1.00"><img src="img/City_Parallax/layer13.png" class = "WEParallax"></li>
	    </ul>
    </ion-content>

</ion-view>



