<ion-view class="game_play" game-play-script="">
    <ion-content data-drop="true" jqyoui-droppable="{onDrop: 'drop', onOut: 'removePlant'}" plant-drop scroll="false">

        <!-- For each plant type add the plants from the game into the view -->
        <div ng-repeat="plant in plants | filter:{$: 'Hill'} track by $index">
            <img class="hill{{$index}} hill" ng-src="{{plant.image}}">
        </div>

        <div ng-repeat="plant in plants | filter:{location: 'Water'} track by $index">
            <img class="water{{$index}} water" ng-src="{{plant.image}}">
        </div>

        <div ng-repeat="plant in plants | filter:{location: 'Land'} track by $index">
            <img class="land{{$index}} land" ng-src="{{plant.image}}">
        </div>

        <div pop-over=""></div>
    </ion-content>

    <ion-footer-bar class="customColours">
        <div plant-bar="powerPlants"></div>
    </ion-footer-bar>
</ion-view>