<ion-view class="game_play" game-play-script="" cache-view="false" >
    <ion-content class="has-header" data-drop="true" jqyoui-droppable="{onDrop: 'drop', onOut: 'removePlant'}" plant-drop scroll="false">

        <div class="stats thumbnail">
            <h1 class ="statsText"><img src="img/gameStatIcons/moneySymbol.png" class="iconStyle">{{stats.playerMoney | currency: "$": 0}}</h1>
            <h1 class ="statsText"><img src="img/gameStatIcons/populationSymbol.png" class="iconStyle">{{stats.population | number:0}}</h1>
            <h1 class ="statsText"><img src="img/gameStatIcons/pollutionSymbol.png" class="iconStyle">{{stats.pollution}}</h1>
            <h1 class ="statsText"><img src="img/gameStatIcons/electricitySymbol.png" class="iconStyle">{{stats.energyMade | number:0}}</h1>
            <h1 class ="statsText"><img src="img/gameStatIcons/reqSymbol.png" class="iconStyle">{{stats.energyNeed | number:0}}</h1>
            
        </div>
        <!-- For each plant type add the plants from the game into the view -->
        <div ng-repeat="plant in plants | filter:{$: 'Hill'} track by $index">
            <img class="hill{{$index}} hill" ng-src="{{plant.image}}">
        </div>

        <div ng-repeat="plant in plants | filter:{location: 'Water'} track by $index">
            <img class="water{{$index}} water" ng-src="{{plant.image}}">
        </div>

        <div ng-repeat="plant in plants | filter:{location: 'Land'} track by $index">
            <img class="land{{$index}} land" ng-src="{{plant.image}}">
        </div>

        <div pop-over=""></div>
    </ion-content>

    <ion-footer-bar class="customColours">
        <div plant-bar="powerPlants"></div>
    </ion-footer-bar>
</ion-view>