<ion-view>
    <ion-content>
        <div id="titlebg"><img id="bgbg" src='{{titlebackground}}'></div>

        <div class="title_button_group">
            <button class="title_button" type="button" ng-click="$state.go('gamePlay')"> START GAME</button>
            <button class="title_button" type="button" ng-click="$state.go('gamePlay')"> TUTORIAL</button>
            <button class="title_button" type="button" ng-click="$state.go('gamePlay')"> MORE INFO</button>
        </div>

    </ion-content>
</ion-view>