.plant_icon {
    width: 50px;
    height: 50px;
    padding: 3px;
}

.bar-footer {
    height: 55px;
}

#titlebg {
    position: fixed;
    z-index: -2;
}

#bgbg {
    top: 0;
    left: 0;
    height: auto;
    min-height: 667px;
    max-height: 100%;
    min-width: 375px;
    max-width: 100%;

}

.title_button {
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Futura;
    font-size: 40px;
    text-decoration: none;
    margin: 0 auto;
    border: 0px;
    position: relative;
    float: right;
    clear: both;
}

.title_button_group {
    position: relative;
    top: 200px;
    float: right;
}