/*Changing the header/footer colours*/
.customColours {
    color: #ffffff !important; /*Text colour*/
    background-color: #3f5936 !important; /*Background colour*/
}

/*Change the colour of the ionicons*/
.customIcon {
    color: #ffffff;
}

/*Change ionicon colour when active*/
.customIcon:active {
    color: #88bf74;
}

.customIcon:hover {
    color: #88bf74;
}

.plant_icon {
    width: 50px;
    height: 50px;
}

.plant_bar > .plant_icon {
    padding: 3px;
}

.bar-footer {
    height: 55px;
}

.title_bg {
    position: fixed;
    z-index: -2;
}

.title_bg_img {
    top: 0;
    left: 0;
    height: auto;
    min-height: 667px;
    max-height: 100%;
    min-width: 375px;
    max-width: 100%;

}

.title_button {
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    font-family: Futura;
    font-size: 40px;
    text-decoration: none;
    margin: 0 auto;
    border: 0px;
    position: relative;
    width: 100%;
}

.title_button_group {
    top: 380px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.darkClass {
    background-color: black;
    filter: alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity: 0.50; /* FireFox */
    z-index: -20;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

/*cityView.html parallax image positioning*/
.WEParallax {
    position: absolute;
    /*top: -50px;
    left: -50px;*/
    height: 100vh;
}

/* Used for the power plant droppable placeholder */
.empty_drop {
    border: 2px solid #808080;
}

.game_play {
    background-image: url('../img/gameplay.png');
    background-size: 100% 100vh;
}

#plant1 {
    position: absolute;
    top: 50px;
    left: 50px;
}

#plant2 {
    position: absolute;
    top: 150px;
    left: 200px;
}

#plant3 {
    position: absolute;
    top: 500px;
    left: 250px;
}

.navbar-icon-resize {
    font-size: 25px;
}

.popup_info {
    position: relative;
    margin-top: 30%;
    visibility: hidden;
    width: 100%;
    height: 30%;
    background: #35a785;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(40px);
    transition-duration: 0.3s;
}

.popup_info.is-visible {
    visibility: visible;
    transform: translateY(0);
}

.popup_info.popup_close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.stars {
    position: relative;
    left: -50px;
    /*top: -100px; */
}

.iconss {
    position: relative;
    max-width: 2px;
    max-height: 2px;
    top: -160px;
    left: 20px;
}

.expand {
    position: relative;
    width: 100%;
    margin-top: -30%;
    height: 500px;
    background: #35a785;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(40px);
    transition-duration: 0.3s;
    visibility: hidden;
}

.expand.is-visible {
    visibility: visible;
    transform: translateY(0);
}

.stars > img {
    height: 50px;
}

.popup_icon > img {
    width: 100px;
}

.hill {
    width: 50px;
    position: absolute;
    top: 100px;
}

.water {
    width: 50px;
    margin-top: 250px;
    float: right;
}

.land {
    width: 50px;
    position: absolute;
    top: 500px;
}

.hill0 {
    left: 12%;
}

.hill1 {
    left: 20%;
}

.hill2 {
    left: 35%;
}

.hill3 {
    left: 45%;
}

.hill4 {
    left: 65%;
}

.hill5 {
    left: 80%;
}

/* Land icon placement */
.land0 {
    left: 8%;
}

.land1 {
    left: 20%;
}

.land2 {
    left: 42%;
}

.land3 {
    left: 50%;
}

.land4 {
    left: 65%;
}

.land5 {
    left: 75%;
/*> > > > > > > feature-autoDrop*/
}

/*GameStats*/
.stats {
    width: 30%;
    background: rgba(255, 255, 255, .5);
    float: right;
}

.img-thumbnail {
    /*background: rgba(255, 255, 255, .5);*/
    background-color: transparent;
}

.statsText {
    font-family: Arial;
    font-size: 18px;
}

.iconStyle {
    width: 30px;
    height: 30px;
    padding: 5px;
}



