.plant_icon {
    width: 50px;
    height: 50px;
    padding: 3px;
}

.bar-footer {
    height: 55px;
}

.gameplayBg {
	top: 0;
	left: 0;
	min-height: 667px;
	max-height: 100%;
	min-width: 375px;
	max-width: 100%;
	z-index: -5;
}

.DD {
	background-color: black;
	top: 100px;
	left: 100px;
	width: 100px;
	height: 100px;
}