.plant_icon {
    width: 50px;
    height: 50px;
    padding: 3px;
}

.bar-footer {
    height: 55px;
}

#titlebg {

	position:fixed; 
	z-index: -2;
}

#bgbg {
top:0; 
 left:0; 
 height:auto;
 min-height: 667px;
 max-height: 100%;
 min-width: 375px;
 max-width: 100%;

}

#firstb {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
position:absolute;
top:52%;
left: 48%;

}

#secondb {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;

position:absolute;
top:60%;
left: 48%;


}

#thirdb {
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;

  position:absolute;
top:68%;
left: 48%;

}

#oneb {
background-color:transparent;
display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Futura;
	font-size:40px;
	text-decoration:none;
	margin: 0 auto;
	border:0px;
	 position:relative;
	 

}

#twob {
background-color:transparent;
display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Futura;
	font-size:40px;
	text-decoration:none;
	margin: 0 auto;
	border:0px;
	

	
}

#threeb {
background-color:transparent;
display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Futura;
	font-size:40px;
	margin: 0 auto;
	text-decoration:none;
	border:0px;
	 position:relative;
	 


	
}